:root {
    --inline-track-height: 150px;
    --small-track-height: 75px;
    --card-width: 405px;
}

.material-symbols-outlined {
    font-size: 1em !important;
}

.nav-logo {
    width: 20px;
    height: 20px;
    margin: auto 0;
    display: flex;
}

.search-result-header {
    padding: 4px 10px 0 10px;
    font-size: 14px;
    font-weight: bold;
}

.nav-logo i {
    margin: auto;
}

.dragTarget {
    position: absolute;
    height: var(--small-track-height);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
}

.dragIndicator.dragover {
    position: absolute;
    z-index: 5;
    margin-top: 10px;
    height: 4px;
    width: 100%;
    background: var(--blue);
    border-radius: var(--border-radius);
}

.single-page {
    background: var(--color-3);
}

.single-page .cover-container {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

.cover-container .cover {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    background: var(--color-5);
    align-self: end;
}

.single-page .title {
    font-size: var(--font-size-xlarge);
}

.profile-header {
    position: relative;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 4 / 1;
}

.header-info-container {
    padding: 5% 0 0 5%;
    gap: 5%;
}

.banner-container {
    width: 100%;
    position: absolute;
}

.banner-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}

.avatar-container {
    width: 16%;
    height: 16%;
}

.avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.display_name, .username {
    width: max-content;
    margin: 0;
}

.display_name {
    font-size: max(min(3vw, 3em), 2em);
    font-weight: 900;
    line-height: 1;
}

.inline-action {
    background: var(--color-3);
}

.track-card, .playlist-card, .album-card {
    background: var(--color-3);
    display: flex;
    border-radius: var(--border-radius);
    gap: 15px;
    border: 1px solid transparent;
    width: max(var(--card-width), 100%);
    max-width: var(--card-width);
}

.small-card {
    max-width: var(--card-width);
}

.track-card.secondary, .playlist-card.secondary, .album-card.secondary {
    background: var(--color-4);
}

.track-card:hover {
    border-color: var(--red);
}

.svg {
    filter: var(--filter-5);
}

.invertedTextWithBackground {
    background: var(--color-5);
    color: var(--color-4);
}

.svgInverted {
    filter: var(--filter-6);
}

.inline-icon {
    height: var(--font-size-small);
    width: var(--font-size-small);
    align-self: center;
}

.adaptive-icon {
    height: 1em !important;
    width: 1em !important;
    align-self: center;
}

.inline-cover {
    --cover-size: 2em;
    height: var(--cover-size);
    width: var(--cover-size);
}

.popularity-container {
    max-width: 150px;
    border-radius: 10px;
    border: 1px solid var(--color-5);
    overflow: hidden;
    display: flex;
}

.popularity {
    height: 5px;
    background: var(--color-5);
}

.popularity-text {
    font-size: .8rem;
}

.popularity-info-container {
    display: flex;
    flex-direction: column;
}

.stats-indicator {
    padding: var(--inline-padding);
    width: max-content;
    height: max-content;
    border-radius: 50px;
    z-index: 2;
    background: var(--color-9);
    border: 1px solid var(--color-9);
}

.stats-indicator.likes {
    border-color: var(--red);
}

.stats-indicator.likes.enabled {
    background: var(--red);
}

.stats-indicator.reposts {
    border-color: var(--green);
}

.stats-indicator.reposts.enabled {
    background: var(--green);
}

.stats-indicator.clickable:hover, .stats-indicator-opener:hover {
    background: var(--color-4);
}

.text-positive {
    color: var(--green);
}

.stats-indicator-opener {
    padding-left: 20px;
    margin-left: -20px;
    border: 1px solid var(--color-9);
    border-radius: 0 50px 50px 0;
    height: max-content;
}

.listFromStatsOpener {
    margin-left: var(--anti-gap-margin);
}

.label {
    background: var(--color-5);
    color: var(--color-4);
    width: max-content;
}

label {
    font-size: var(--font-size-small);
}

.audio-player-audio {
    height: max-content;
}

.audio-player-control-icon {
    width: var(--font-size-medium);
    height: var(--font-size-medium);
}

.audio-player-scrubber {
    height: 30px;
    position: relative;
    max-width: 100%;
    cursor: pointer;
}

.audio-player-scrubhead {
    width: var(--border-radius);
    height: 16px;
    background: var(--color-5);
    border-radius: var(--border-radius);
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.audio-player-buffer-indicator {
    background: var(--color-7);
    border-radius: var(--border-radius);
    position: absolute;
    height: 6px;
    width: 3px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: left 1s ease;
}

.interpolate-left {
    transition: left 1s linear 0s;
}

.audio-player-loudnesshead {
    width: var(--font-size-small);
    height: var(--font-size-small);
    background: var(--color-5);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) translateY(var(--font-size-small));
    bottom: 20%;
}

.audio-player-scrubbar {
    background: var(--color-6);
    position: absolute;
    height: 6px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.audio-player-scrubbar-time {
    background: var(--color-5);
    position: absolute;
    height: 6px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.audio-player-loudnessbar {
    background: var(--color-5);
    position: absolute;
    width: 3px;
    height: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.play-adjust {
    margin-left: 2px;
}

.pause-adjust {
    margin: 0 1px;
}

.spinner-animation {
    animation: spin 1s linear infinite;
}

.audio-player-controls {
    background: var(--color-3);
    border-radius: 27px;
    flex-wrap: nowrap;
}

.loudness-control:hover .loudness-bar {
    display: initial;
}

.loudness-bar {
    position: absolute;
    width: var(--font-size-medium);
    height: 100px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.audio-player-time {
    flex-wrap: nowrap;
}

.audio-player-loudnessbackground {
    position: absolute;
    height: calc(100% + 54px);
    border-radius: 27px;
    left: 0;
    width: calc(100% - 2px);
    bottom: -35px;
}

.loudness-button, .loop-button {
    height: 27px;
    position: relative;
}

.loudness-button {
    z-index: 1;
}

#permanent-player {
    justify-content: center;
    align-items: center;
}

.subStarter.selected {
    background: radial-gradient(var(--blue) 0%, var(--green) 100%);
}

.toggle-container {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background: var(--color-7);
    position: relative;
    cursor: pointer;
}

.toggle-slider {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-4);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left .2s ease;
    left: 2px;
}

.corner-check {
    background: var(--green);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    padding: calc(var(--base-padding) * .5);
}

.gift-icon {
    background: var(--blue);
    border-radius: var(--border-radius);
}

input.slider:checked ~ .toggle-container {
    background: var(--color-5);
}

input.slider:checked ~ .toggle-container .toggle-slider {
    left: 22px;
}

.stats-container {
    width: max-content;
}

.notification-list {
    max-height: 300px;
    overflow: auto;
}

.user-widget {
    padding-left: var(--base-padding);
    padding-right: var(--base-padding);
    height: max-content;
}

.user-icon, .user-icon-big {
    border-radius: 50%;
}

.user-icon {
    width: var(--font-size-medium);
    height: var(--font-size-medium);
}

.user-icon-big {
    width: var(--font-size-xlarge);
    height: var(--font-size-xlarge);
}

.comment_body {
    padding-left: var(--gap);
}

.comment_content {
    font-size: var(--font-size-small);
    max-width: 300px;
}

.notification-text * {
    max-width: 300px;
    display: block;
}

.comment-children {
    margin-left: 34px;
}

.upload-info-item.error {
    color: var(--red);
}

.listNotification {
    border-bottom: 1px solid var(--color-6);
    padding: 10px 20px;
}

.listNotification.unread {
    background: color-mix(in oklab, var(--green), transparent 85%);
}

.notification-bubble {
    position: absolute;
    top: 5px;
    right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--color-1);
}

.queue-bubble {
    position: absolute;
    top: -10px;
    left: calc(100% - 8px);
    height: 20px;
    border-radius: 8px;
    background: var(--color-4);
    font-size: var(--font-size-small);
    width: max-content;
    padding: 0 2px;
    border: 1px solid var(--color-5);
}

.cover-container {
    height: max-content;
    --cover-size: 200px;
}

.cover-container, .cover-container .cover {
    width: var(--cover-size);
}

.cover-container.card-cover {
    --cover-size: 120px;
}

.cover-container.inline-cover {
    --cover-size: var(--inline-track-height);
}

.cover-container.small-cover {
    --cover-size: var(--small-track-height);
}

#banner-loader, #avatar-loader {
    border-color: var(--color-3);
    width: 30px;
    height: 30px;
}

.burger-menu-content {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    height: calc(100% - 40px);
    background: var(--color-4);
    z-index: 3;
}

.themeSwitchInSettings {
    height: 48px;
}

.chart {
    max-width: 100% !important;
    max-height: 100% !important;
    background: var(--color-3);
}

.chart-container {
    width: 600px !important;
    max-width: 100% !important;
}

.chart-container-full {
    width: 600px !important;
    max-width: 100% !important;
}

.chart-container-vertical {
    height: 100% !important;
    width: 300px !important;
    max-width: 100% !important;
}

.queue-list {
    position: absolute;
    bottom: 100%;
    right: 0;
    max-height: 300px;
    background: var(--color-4);
    border: 1px solid var(--color-5);
}

.queue-draggable.dragging {
    width: max-content;
    background: var(--color-4);
}

.waveform, .waveform-small {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: end;
    gap: 1px;
}

.waveform-small {
    height: 33px;
}

.processing-box {
    background: linear-gradient(45deg, var(--color-6), var(--color-7));
    position: relative;
    overflow: hidden;
}

.processing-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 20%;
    height: 100%;
    --base-color: var(--color-4);
    background: color-mix(in oklab, var(--base-color), transparent 80%);
    transform: skewX(80deg);
    animation: processing 3s infinite;
    box-shadow: 0 0 20px 10px color-mix(in oklab, var(--base-color), transparent 80%);
}

@keyframes processing {
    0% {
        left: -50%;
    }
    100% {
        left: 150%;
    }
}

.waveform-bar {
    min-width: 1px;
    width: 2px;
    background: var(--color-5);
}

.image-preview {
    width: 100px;
    height: 100px;
}

.verification-badge {
    background: var(--verified);
    --icon-size: 22px;
    --padding: calc((var(--icon-size) - 12px) / 2);
    padding: var(--padding);
    border-radius: var(--border-radius);
    width: calc(var(--icon-size) - (var(--padding) * 2));
    height: calc(var(--icon-size) - (var(--padding) * 2));
    align-content: center;
    display: flex;
}

.verification-badge img {
    width: 100%;
    height: auto;
    filter: invert(100%);
}

.waveform-bar.active {
    background: var(--green-dark);
}

.list-track {
    border: 1px solid var(--color-7);
}

.list-track.playing, .inlineTrack.playing, .track-card.playing {
    border: 1px solid var(--green);
    animation: pulse-glow 4s ease infinite;
}

.track-contained-list .card {
    background: var(--color-4);
    width: 150px;
}

.search {
    margin-right: var(--gap);
    flex-grow: 1;
}

.search-input {
    width: 100%;
    padding-left: 30px !important;
}

.search-results {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: max-content;
    max-width: 100%;
    min-width: 300px;
    border: 1px solid var(--color-5);
    z-index: 9999;
    border-radius: 14px;
    overflow: auto;
    backdrop-filter: blur(50px);
    gap: 0;
    background: color-mix(in oklab, var(--color-3), transparent 50%);
    max-height: 300px;
    flex-wrap: nowrap;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.search-result {
    align-items: center;
    cursor: pointer;
}

.search-result.selected {
    background: var(--color-7);
}

.search-result:hover {
    background: var(--color-7);
}

.search-result-image {
    width: 20px;
    height: 20px;
}

.search-result-image img {
    width: 100%;
    height: 100%;
}

.search-input-container {
    max-width: 300px;
}

.search-result-type {
    border-radius: 50px;
    border: 1px solid var(--color-5);
    font-size: 12px;
}

.log > td:first-child {
    --log-color: var(--blue);
    border-left: 5px solid var(--log-color);
}

.log.warning > td:first-child {
    --log-color: var(--color-1);
}

.log.error > td:first-child {
    --log-color: var(--red);
}

.search-result-type.album {
    background: color-mix(in oklab, var(--color-1), transparent 50%);
}

.search-result-type.user {
    background: color-mix(in oklab, var(--red), transparent 50%);
}

.search-result-type.playlist {
    background: color-mix(in oklab, var(--green), transparent 50%)
}

.search-result-type.track {
    background: color-mix(in oklab, var(--blue), transparent 50%);
}

.tab {
    background: var(--color-6);
    border: none !important;
    color: var(--color-5);
    border-radius: 0;
    padding: var(--fjsc-input-padding-y) var(--fjsc-input-padding-x);
}

.tab:hover {
    background: var(--color-3);
    color: var(--color-5);
}

.tab.selected {
    background: var(--color-5);
    color: var(--color-4);
}

.tab-selector {
    gap: 0;
    border: 1px solid var(--color-7);
}

.tab:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.tab:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.royalty-info-text {
    font-size: calc(var(--font-size-xxlarge) * 0.5);
}

.property-key {
    font-weight: bold;
}

.log-properties {
    resize: both;
    overflow: auto;
}

.property-value {
    background: rgba(100, 100, 100, 0.1);
    border-radius: var(--border-radius);
}

.search-select-options {
    max-height: 200px;
    overflow: auto;
    position: absolute;
    min-width: 100%;
    top: 100%;
    left: 0;
    background: var(--color-4);
    border: 1px solid var(--color-6);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    z-index: 9999;
    gap: 0;
    flex-wrap: nowrap;
}

.search-select-option {
    cursor: pointer;
}

.search-select-option:hover, .search-select-option.selected {
    background: var(--color-7);
}

.search-select-dropdown {
    background: var(--color-3);
    cursor: pointer;
    padding: 1px 8px;
    border: 1px solid var(--color-7);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border-left: none;
}

.search-select-dropdown:hover {
    background: var(--color-7);
}

.search-select-visible {
    gap: 0;
    width: 100%;
}

.search-select-input {
    flex-grow: 1;
    background: var(--color-4);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border: 1px solid var(--color-7);
}

.search-select-input:focus-visible {
    outline: none;
    border-color: var(--green);
}

.modal img.full {
    width: 100%;
    height: 100%;
    max-width: 80dvw;
    max-height: 80dvh;
}

.listFromStatsIndicator.comments {
    max-height: 75dvh;
    overflow: auto;
    flex-wrap: nowrap;
}

#track-description, #user-description {
    height: max-content;
    max-height: 100px;
    min-width: 100px;
    overflow: auto;
    position: relative;
}

#track-description.overflowing, #user-description.overflowing {
    box-shadow: 0 -30px 30px -30px inset black;
    resize: vertical;
}

.progress-section-part {
    border: 1px solid transparent;
    padding: var(--inline-padding);
    z-index: 1;
}

.progress-section-part.notStarted {
    border-color: var(--color-6);
    color: var(--color-6);
    opacity: .8;
    pointer-events: none;
}

.progress-section-part i {
    color: inherit;
}

.progress-section-part.inProgress {
    border-color: var(--blue);
    color: var(--blue);
    animation: progress 1s alternate infinite;
}

@keyframes progress {
    0% {
        border-color: var(--blue);
    }
    100% {
        border-color: var(--color-6);
    }
}

.progress-section-part.complete {
    border-color: var(--green);
    background: var(--green);
    color: var(--color-4);
}

.progress-section-part.error, .progress-section-part.cancelled {
    border-color: var(--red);
    color: var(--red);
}

.progress-section-retry {
    color: var(--red);
}

.progress-section-part-container {
    overflow: hidden;
}

.progress-section-part-container:first-child .progress-section-part {
    border-radius: 999px 0 0 999px;
}

.progress-section-part-container:last-child .progress-section-part {
    border-radius: 0 999px 999px 0;
}

.progress-section-part-progress {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: var(--color-9);
}

.check-list {
    display: flex;
    flex-direction: column;
}

.check-list-item:first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-width: 1px 1px 1px 1px;
}

.check-list-item:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.check-list-item {
    border-color: var(--color-5);
    border-style: solid;
    align-items: center;
    border-width: 0 1px 1px 1px;
    cursor: pointer;
    transition: border-left-width .2s, border-left-color .2s, border-right-width .2s, border-right-color .2s;
}

.check-list-item:hover:not(.active) {
    border-left: 1em solid var(--blue);
}

.check-list-item.active {
    border-left: 1em solid var(--green);
    background: var(--color-3);
}

.check-list-item:hover {
    background: var(--color-6);
}

.check-list-item.active:hover {
    border-right: 1em solid var(--red);
}

.gif8831:hover img {
    transform: translateY(-2px);
    border-bottom: 2px solid var(--blue);
}

@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 0 0 var(--green);
    }
    50% {
        box-shadow: 0 0 20px -7px var(--green);
    }
    100% {
        box-shadow: 0 0 0 0 var(--green);
    }
}

@keyframes flow-glow {
    0% {
        box-shadow: 0 -5px 20px -7px var(--green);
    }
    12.5% {
        box-shadow: 3px -2px 20px -7px var(--green);
    }
    25% {
        box-shadow: 5px 0 20px -7px var(--green);
    }
    37.5% {
        box-shadow: 3px 2px 20px -7px var(--green);
    }
    50% {
        box-shadow: 0 5px 20px -7px var(--green);
    }
    62.5% {
        box-shadow: -3px 2px 20px -7px var(--green);
    }
    75% {
        box-shadow: -5px 0 20px -7px var(--green);
    }
    87.5% {
        box-shadow: -3px -2px 20px -7px var(--green);
    }
    100% {
        box-shadow: 0 -5px 20px -7px var(--green);
    }
}

@media screen and (max-width: 1301px) {
    .popout-below.notification-list {
        transform: translateX(30%);
    }
}

@media screen and (max-width: 600px) {
    .waveform-bar {
        width: 1px;
    }

    .waveform-bar.odd {
        display: none;
    }

    .cover-container.card-cover {
        --cover-size: 90px;
    }

    :root {
        --inline-track-height: 100px;
    }
}