:root {
    --color-1: #DA702C;
    --color-1-rgb: 218, 112, 44;
    --red: #D14D41;
    --color-2-rgb: 209, 77, 65;
    --red-dark: #ce3a32;
    --color-2-dark-rgb: 206, 58, 50;
    --color-3: #FFFCF0;
    --color-3-rgb: 255, 252, 240;
    --color-4: #E6E4D9;
    --color-4-rgb: 230, 228, 217;
    --color-5: #100F0F;
    --color-5-rgb: 16, 15, 15;
    --filter-5: sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%) invert(0%);
    --color-6: #403E3C;
    --color-6-rgb: 64, 62, 60;
    --color-7: #6F6E69;
    --color-7-rgb: 111, 110, 105;
    --green: #99b238;
    --color-8-rgb: 153, 178, 56;
    --green-dark: #7a9615;
    --color-8-dark-rgb: 122, 150, 21;
    --filter-8: brightness(0) saturate(100%) invert(29%) sepia(96%) saturate(1386%) hue-rotate(53deg) brightness(107%) contrast(91%);
    --color-9: #DAD8CE;
    --blue: #1a91f8;
    --blue-dark: #316fd1;

    --background-glass: linear-gradient(-45deg, rgba(var(--color-4-rgb), var(--glass-transparency)), rgba(var(--color-3-rgb), var(--glass-transparency)));
    --background-light-glass: rgba(var(--color-3-rgb), var(--glass-transparency));

    --jessc-interactive-background: var(--color-3);
    --jessc-interactive-color: var(--color-5);
    --jessc-interactive-color-active: var(--color-5);
}

.fakeButton {
    background: var(--color-3);
}

.fakeButton.positive:hover {
    background-color: var(--green);
    color: var(--color-5);
}

button.positive:hover {
    border-color: var(--green-dark);
    background: var(--green);
}

.fakeButton.positive:hover .svg {
    filter: var(--filter-5);
}

.border-card {
    background: var(--color-9);
}

.tab {
    background: var(--color-9);
}

.clickable.secondary.padded-inline:hover {
    background: var(--color-4);
}

.audio-player-scrubbar {
    background: var(--color-7);
}

.audio-player-buffer-indicator {
    background: var(--color-6);
}

.fixed-bar {
    box-shadow: 0 10px 20px -7px var(--color-7);
}

th {
    background: var(--color-3);
}

tr:hover {
    background: var(--color-9);
}
