:root {
    --color-1: #DA702C;
    --color-1-rgb: 218, 112, 44;
    --color-2: #D14D41;
    --color-2-rgb: 209, 77, 65;
    --color-2-dark: #AF3029;
    --color-2-dark-rgb: 175, 48, 41;
    --color-3: #FFFCF0;
    --color-3-rgb: 255, 252, 240;
    --color-4: #E6E4D9;
    --color-4-rgb: 230, 228, 217;
    --color-5: #100F0F;
    --color-5-rgb: 16, 15, 15;
    --filter-5: sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%) invert(0%);
    --color-6: #403E3C;
    --color-6-rgb: 64, 62, 60;
    --color-7: #6F6E69;
    --color-7-rgb: 111, 110, 105;
    --color-8: #879A39;
    --color-8-rgb: 135, 154, 57;
    --color-8-dark: #66800B;
    --color-8-dark-rgb: 102, 128, 11;
    --filter-8: brightness(0) saturate(100%) invert(29%) sepia(96%) saturate(1386%) hue-rotate(53deg) brightness(107%) contrast(91%);
    --color-9: #DAD8CE;
    --blue: #4385BE;
}

.fakeButton {
    background: var(--color-3);
}

.fakeButton.positive:hover {
    background-color: var(--color-8);
    color: var(--color-5);
}

.fakeButton.positive:hover .svg {
    filter: var(--filter-5);
}

.user-widget {
    background: var(--color-3);
}

.card-label {
    background: var(--color-9);
}

.border-card {
    background: var(--color-4);
}

.tab {
    background: var(--color-9);
}

.clickable.secondary.padded-inline:hover {
    background: var(--color-4);
}