:root {
    --jessc-interactive-background: var(--color-9);
    --jessc-interactive-color-active: var(--color-5);

    --background-glass: linear-gradient(-45deg, rgba(var(--color-4-rgb), var(--glass-transparency)), rgba(var(--color-3-rgb), var(--glass-transparency)));
    --background-light-glass: rgba(var(--color-3-rgb), var(--glass-transparency));
}

.fakeButton {
    background: var(--color-3);
}

.fakeButton.positive:hover {
    background-color: var(--green);
    color: var(--color-5);
}

.fakeButton.positive:hover .svg {
    filter: var(--filter-5);
}

.clickable.secondary.padded-inline:hover {
    background: var(--color-4);
}

.border-card {
    background: var(--color-9);
}

.tab {
    background: var(--color-9);
}

.audio-player-scrubbar {
    background: var(--color-9);
}

.fixed-bar {
    box-shadow: 0 10px 20px -7px var(--color-7);
}

th {
    background: var(--color-3);
}

tr:hover {
    background: var(--color-9);
}

button.inert {
    border-color: var(--color-9);
    background-color: var(--color-9);
}

.queue-item:hover {
    background: var(--color-9);
}