:root {
    /*--targon-color: #5078A9;
    --targon-color-dark-30: #3B5C7F;
    --targon-color-light-30: #6B8FC0;*/
    --targon-color: #ffb153;
    --targon-color-dark-30: #feb201;
    --targon-color-light-30: #ffd555;
    --font-color: #000;
}

.loginIcon {
    width: 20px;
    height: 20px;
}

.loginButton {
    background: linear-gradient(45deg, var(--targon-color-light-30) 0%, var(--targon-color-dark-30) 100%);
    color: var(--font-color);
    padding: 15px 20px;
    font-weight: 700;
    --transition-time: 0.1s;
    transition: box-shadow var(--transition-time) linear, transform var(--transition-time) linear;
    border: none !important;
}

.loginButton * {
    color: var(--font-color);
}

.loginButton:hover {
    background: linear-gradient(45deg, var(--targon-color-light-30) 0%, var(--targon-color) 100%);
    box-shadow: 0 0 10px var(--targon-color-dark-30);
    transform: scale(1.01);
}

.loginButton img {
    align-self: center;
}

.loginButton * {
    cursor: pointer;
}

.loginButton {
    cursor: pointer;
}

.serviceIcon {
    width: var(--font-size-xxlarge);
    height: var(--font-size-xxlarge);
}

.limitToContentWidth {
    max-width: max-content;
}