:root {
    --color-1: #ff8e3c;
    --color-1-rgb: 255, 142, 60;
    --red: #d9376e;
    --color-2-rgb: 217, 55, 110;
    --red-dark: #b32a5a;
    --color-2-dark-rgb: 179, 42, 90;
    --filter-2: invert(27%) sepia(93%) saturate(2198%) hue-rotate(322deg) brightness(92%) contrast(84%);
    --color-3: #eff0f3;
    --color-3-rgb: 239, 240, 243;
    --color-4: #fffffe;
    --color-4-rgb: 255, 255, 254;
    --color-5: #0d0d0d;
    --color-5-rgb: 13, 13, 13;
    --filter-5: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
    --filter-6: sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%) invert(1);
    --color-6: #2a2a2a;
    --color-6-rgb: 42, 42, 42;
    --color-7: #4a4a4a;
    --color-7-rgb: 74, 74, 74;
    --green: #70c926;
    --color-8-rgb: 142, 255, 60;
    --green-dark: #5aa21a;
    --color-8-dark-rgb: 90, 162, 26;
    --color-9: #dcdce0;
    --filter-8: invert(74%) sepia(50%) saturate(854%) hue-rotate(40deg) brightness(94%) contrast(75%);
    --orange: var(--color-1);
    --color-state: var(--green);
    --blue: #317eef;
    --blue-dark: #2a6ed9;
    --purple: #a855f7;
    --purple-dark: #8a4dd9;
    --verified: var(--blue);
    --link-color: var(--blue);
    --glass-transparency: .75;
    --background-glass: linear-gradient(-45deg, rgba(var(--color-4-rgb), var(--glass-transparency)), rgba(var(--color-6-rgb), var(--glass-transparency)));
    --background-light-glass: rgba(var(--color-6-rgb), var(--glass-transparency));

    --tainted-bg-green: color-mix(in oklab, var(--color-4), var(--blue) 15%);
    --tainted-bg-green-dark: color-mix(in oklab, var(--color-4), var(--blue) 10%);
    --background-playing: linear-gradient(-45deg, var(--tainted-bg-green), var(--tainted-bg-green-dark));

    --breakpoint-big: 1301px;
    --breakpoint-mid: 1110px;
    --breakpoint-small: 300px;
    --icon-filter: invert(1);
    --font-size-xsmall: 12px;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
    --font-size-xlarge: 28px;
    --font-size-xxlarge: 36px;
    --border-radius: 5px;
    --large-border-radius: calc(var(--border-radius) * 2);
    --base-padding: 10px;
    --large-padding: calc(var(--base-padding) * 2);
    --page-padding: 10px 20px;
    --inline-padding: 2px 7px;
    --gap: 5px;
    --layout-gap: 10px;
    --anti-gap-margin: -7px;
    --default-shadow: 0 0 15px -7px var(--color-5);
    --button-bottom-border-size: 3px;
    --default-font-family: "Inter Tight", serif;

    --jessc-text-color: var(--color-5);
    --jessc-error-color: var(--red);

    --jessc-interactive-background: var(--color-6);
    --jessc-interactive-background-hover: var(--color-3);
    --jessc-interactive-background-active: var(--color-9);
    --jessc-interactive-color: var(--color-5);
    --jessc-interactive-color-active: var(--color-4);
    --jessc-interactive-border: var(--color-7);
    --jessc-interactive-border-focused: var(--blue);
    --jessc-interactive-border-active: var(--blue);

    --jessc-font: var(--default-font-family);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

.text-xsmall {
    font-size: var(--font-size-xsmall);
}

.text-small {
    font-size: var(--font-size-small);
}

.text-medium {
    font-size: var(--font-size-medium);
}

.text-large {
    font-size: var(--font-size-large);
}

.text-xlarge {
    font-size: var(--font-size-xlarge);
}

.text-xxlarge {
    font-size: var(--font-size-xxlarge);
}

.color-dim {
    opacity: .7;
}

.nopointer, .nopointer * {
    pointer-events: none;
}

.relative {
    position: relative;
}

.flex, .flex-v {
    display: flex;
    gap: var(--layout-gap);
    flex-wrap: wrap;
}

.small-gap {
    gap: var(--gap) !important;
}

.no-gap {
    gap: 0 !important;
}

.draggable {
    cursor: grab;
}

.dragging {
    cursor: grabbing;
    position: absolute;
    z-index: 1000;
}

.noselect {
    user-select: none;
}

.flex-v {
    flex-direction: column;
}

.flex-v.reverse {
    flex-direction: column-reverse;
}

body {
    background: var(--color-4);
    color: var(--color-5);
    font-family: var(--default-font-family);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.loader {
    border-top: 1px solid var(--color-5);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    animation: spin 1.2s linear infinite;
    margin: auto;
}

.loader.dark {
    border-top: 1px solid var(--color-5);
}

.loader.bright {
    border-top: 1px solid var(--color-4);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

.nonclickable {
    opacity: .5;
    pointer-events: none;
}

button > * {
    align-self: center;
}

nav {
    border-bottom: 1px solid var(--color-7);
    z-index: 1;
    position: relative;
}

nav, footer {
    display: flex;
    gap: 1em;
    padding: var(--page-padding);
}

nav, footer, .fixed-bar, .modal-overlay, .modal, .card, .user-preview, .queue-popout {
    background: var(--background-glass);
    backdrop-filter: saturate(180%) blur(10px);
}

.card {
    background: var(--background-light-glass);
}

footer:empty {
    padding: 0;
    width: 100%;
    border: none;
}

footer {
    position: absolute;
    z-index: 2;
    bottom: var(--base-padding);
    left: 50%;
    width: calc(100% - 2 * var(--base-padding));
    box-sizing: border-box;
    border: 1px solid var(--color-7);
    transform: translateX(-50%);
    border-radius: calc(2 * var(--border-radius));
    padding: var(--base-padding);
}

.icon {
    width: 20px;
    height: 20px;
    filter: var(--icon-filter);
}

.icon.badge {
    width: 24px;
    height: 24px;
}

.break-lines {
    white-space: pre-line;
}

.page-background {
    background: var(--color-4);
    overflow: auto;
}

.page-container {
    position: relative;
    padding: var(--page-padding);
    overflow: auto;
    max-width: var(--breakpoint-big);
    background: var(--color-4);
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 50%;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-xxlarge);
    font-weight: 300;
    padding: 0;
}

h2 {
    font-size: var(--font-size-xlarge);
}

h3 {
    font-size: 2.2rem;
    font-weight: normal;
}

.card-label {
    margin: 0;
    width: max-content;
    padding: 0.1em 1em 0.1em .5em;
    border-radius: var(--border-radius) 2em 2em var(--border-radius);
    color: var(--color-5);
    font-weight: normal;
    align-items: center;
    border: 1px solid var(--color-5);
    border-width: 0 0 0 .5em;
    background: var(--color-3);
}

.card-label.error {
    border-color: var(--red);
    color: var(--red);
}

.card-label i {
    color: inherit;
}

h5 {
    font-size: var(--font-size-medium);
    margin: 0;
}

.mono {
    font-family: monospace;
}

p {
    margin: 0;
}

.floatCenter {
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 600px;
    min-width: 300px;
    width: 30%;
    gap: 15px;
}

input, textarea, select {
    background: var(--jessc-interactive-background);
    border: 1px solid var(--jessc-interactive-border);
    color: var(--color-5);
    box-sizing: border-box;
    border-radius: var(--border-radius);
    padding: var(--jessc-input-padding-y) var(--jessc-input-padding-x);
    font-size: var(--jessc-base-font-size);
    height: max-content;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
    border-color: var(--jessc-interactive-border-focused);
    background: var(--jessc-interactive-background-hover);
    outline: none;
}

input[type="checkbox"] {
    width: max-content;
}

input.full {
    width: max-content;
}

input[type="button"] {
    cursor: pointer;
}

input[type="button"]:hover {
    background: var(--color-1);
    color: var(--color-4);
}

.heading-container-sideways h1 {
    width: max-content;
    margin: auto 0;
}

button {
    background: var(--color-7);
    color: var(--color-4);
    border: 1px solid var(--color-7);
    border-bottom: var(--button-bottom-border-size) solid var(--color-7);
    border-radius: var(--border-radius);
    padding: var(--inline-padding);
    font-size: var(--font-size-medium);
    font-family: inherit;
    cursor: pointer;
    width: max-content;
    display: flex;
    align-items: center;
    gap: var(--gap);
}

button.negative {
    border-left-color: var(--red);
}

button.negative:hover {
    border-color: var(--red);
    background: var(--red-dark);
}

button.positive {
    border-left-color: var(--green);
}

button.positive:hover {
    border-color: var(--green);
    background: var(--green-dark);
}

button.positive.active {
    border-color: var(--green);
    background-color: var(--green-dark);
}

button.inert {
    border-color: var(--color-7);
    background-color: var(--color-7);
    pointer-events: none;
}

button.special {
    border-color: var(--blue);
    background: var(--blue-dark);
    box-sizing: border-box;
}

button.special * {
    color: var(--color-4);
}

button.special.active {
    border-color: var(--color-1);
    border-width: 2px;
    background: var(--blue);
}

@keyframes special-glow {
    0% {
        box-shadow: 0 0 10px -5px var(--blue);
    }
    100% {
        box-shadow: 0 0 30px -7px var(--blue);
    }
}

button.special:hover {
    border-color: var(--blue-dark);
    background: var(--blue);
    animation: special-glow 2s ease infinite alternate;
}

button.unread:before {
    content: "";
    position: absolute;
    top: 5px;
    right: 10px;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background: var(--color-1);
}

.subscription-option {
    box-sizing: border-box;
}

.subscription-option.pending {
    border: 1px solid var(--green-dark);
}

.subscription-option.selected {
    border: 1px solid var(--blue);
}

.fadeIn {
    animation: fadeIn .5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.notifications {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 15px;
    width: max-content;
    z-index: 99999;
    max-height: 100dvh;
}

.notification {
    background: var(--orange);
    border: 1px solid var(--orange);
    border-radius: var(--border-radius);
    color: var(--color-4);
    padding: 5px 10px;
    max-width: 100dvw;
}

.notification.warning {
    background: var(--orange);
    border: 1px solid var(--orange);
    color: var(--color-4);
}

.notification.error {
    background: var(--red);
    border: 1px solid var(--red);
    color: var(--color-5);
}

.notification.success {
    background: var(--color-state);
    border: 1px solid var(--color-state);
}

.honeypot {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.link-underline {
    text-decoration: underline;
    cursor: pointer;
}

.link-underline:hover {
    color: var(--color-1);
}

.warning {
    color: var(--orange);
}

.card, .border-card {
    padding: 20px;
    border-radius: var(--border-radius);
    position: relative;
}

.border-card {
    background: var(--color-6);
}

.card.active {
    border: 1px solid var(--green);
}

.card.secondary {
    background: var(--color-4);
}

.incard_circle-left-top {
    --circle-size: 250px;
    top: calc(calc(var(--circle-size) / 2.5) - var(--circle-size));
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    background: var(--color-6);
    z-index: -1;
    position: absolute;
    left: calc(calc(var(--circle-size) / 3) - calc(var(--circle-size) / 2));
}

summary {
    cursor: pointer;
    background: var(--color-7);
    padding: 0 8px;
    border-radius: var(--border-radius);
}

details > *:not(summary) {
    margin-left: 2em;
}

.space-outwards {
    justify-content: space-between;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container input:focus-visible ~ .checkmark {
    border: 2px solid var(--color-1);
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: var(--color-4);
    border: 1px solid var(--color-5);
    border-radius: var(--border-radius);
}

.checkmark:hover {
    background: var(--color-1);
}

.checkmark-icon {
    top: -4px;
    position: absolute;
    left: 2px;
    font-size: 14px;
    display: none;
}

.checkbox-container input:checked ~ .checkmark .checkmark-icon {
    display: initial;
}

.widest-fill-right {
    margin-left: auto;
    display: flex;
    gap: var(--layout-gap);
    justify-content: right;
}

.align-center {
    align-self: center;
}

.align-bottom {
    align-items: end;
}

.text-center {
    text-align: center;
}

.padded {
    padding: var(--base-padding);
}

.padded-small {
    padding: calc(var(--base-padding) * .5);
}

.padded-large {
    padding: var(--large-padding);
}

.padded-page {
    padding: var(--page-padding);
}

.padded-inline {
    padding: var(--inline-padding);
}

.rounded {
    border-radius: var(--border-radius);
}

.rounded-large {
    border-radius: var(--large-border-radius);
}

.rounded-50 {
    border-radius: 50%;
}

.rounded-max {
    border-radius: 100vw;
}

.bordered {
    border: 1px solid var(--color-7);
}

.fakeButton {
    background: var(--color-6);
    border: 1px solid transparent;
    width: max-content;
}

.fakeButton.active {
    background: var(--color-9) !important;
    border-color: var(--color-1);
}

.fakeButton.disabled, button.disabled {
    opacity: .2;
    cursor: not-allowed;
    pointer-events: none;
}

.clickable.padded-inline:hover {
    background: var(--color-9);
}

.clickable.secondary.padded-inline:hover {
    background: var(--color-6);
}

.wordwrap {
    white-space: pre-wrap;
}

.noflexwrap {
    flex-wrap: nowrap;
}

.fullWidth {
    width: 100%;
    max-width: 100% !important;
    box-sizing: border-box;
}

textarea.fullWidth {
    width: calc(100% - 20px);
}

.fullHeight {
    height: 100% !important;
}

.clickable, .pointer {
    cursor: pointer;
    max-width: max-content;
}

.clickablePreserveWidth {
    cursor: pointer;
}

.fakeButton.negative:hover {
    border-color: var(--red);
    color: var(--red);
}

.fakeButton.negative:hover .svg {
    filter: var(--filter-2);
}

.fakeButton.positive:hover {
    border-color: var(--green);
    color: var(--green);
}

.fakeButton.positive:hover .svg {
    filter: var(--filter-8);
}

.fakeButton.secondary {
    background: var(--color-9);
}

.preventPointerEvents .blurOnParentHover {
    filter: none !important;
}

.table-header {
    font-weight: bold;
    padding: var(--inline-padding);
    border-radius: var(--border-radius);
    background: var(--blue-dark);
    border: 1px solid var(--blue);
}

th {
    text-wrap: nowrap;
    padding: var(--base-padding) !important;
    background: var(--color-6);
}

th, td {
    text-align: left;
    padding: var(--inline-padding);
    vertical-align: top;
    border-bottom: 1px solid var(--color-4);
}

tr.log {
    background: var(--color-3);
}

tr:hover {
    background: var(--color-6);
}

td:first-child, th:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

td:last-child, th:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.no-filter {
    filter: none !important;
}

.hoverable:hover {
    background: var(--color-3);
}

.hover-popout .popout-below, .hover-popout .popout-above {
    display: none;
}

.hover-popout:hover .popout-below, .hover-popout:hover .popout-above {
    display: flex;
}

.popout-below {
    position: absolute;
    z-index: 3;
    top: calc(100% + 3px);
    width: max-content;
    background: var(--color-3);
    border: 1px solid var(--color-7);
    border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
}

.popout-above {
    position: absolute;
    z-index: 3;
    bottom: calc(100% + 3px);
    width: max-content;
    background: var(--color-3);
    border: 1px solid var(--color-7);
    border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);
}

.queue-popout {
    position: absolute;
    bottom: calc(100% + 15px);
    width: calc(100% + var(--large-padding));
    max-width: calc(100% + var(--large-padding));
    max-height: 50dvh;
    border: 1px solid var(--color-7);
    border-radius: var(--large-border-radius);
    transition: height 100ms ease-in-out;
    overflow: auto;
}

.queue-popout.hide {
    height: 0 !important;
    border: none;
}

.queue-popout.visible {
    height: 50dvh;
}

.absolute-align-right {
    right: 0;
}

.align-children-end {
    align-items: flex-end;
}

.inlineLink {
    cursor: pointer;
    color: var(--link-color);
}

.inlineLink:hover {
    text-decoration: underline;
}

.error {
    color: var(--red);
}

.error input, .error button, .error select, .error textarea {
    border-color: var(--red);
}

.text-left {
    text-align: left;
}

.move-to-new-row {
    flex-wrap: wrap;
    width: 100%;
}

.borderBox {
    background: var(--color-4);
    border: 1px solid var(--color-6);
}

.flex-grow {
    flex-grow: 1;
}

.centered {
    margin: auto;
}

.centeredInParent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showOnParentHover {
    display: none;
}

*:hover > .showOnParentHover {
    display: flex;
}

.always-show {
    display: flex !important;
}

*:hover > .blurOnParentHover {
    filter: brightness(0.3) blur(1px);
}

.nogap {
    gap: 0;
}

.modal {
    position: absolute;
    border: 1px solid var(--color-7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border-radius: calc(var(--border-radius) * 2);
    max-height: calc(100% - 100px);
    overflow: auto;
    max-width: 80dvw;
    width: max-content;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.flexOnMidBreakpoint {
    display: none;
}

.auth-box {
    max-width: min(600px, 100%);
    width: 600px;
    margin: auto;
    box-sizing: border-box;
}

.spinner {
    border: 1px solid var(--color-5);
    border-radius: 50%;
    border-top: 1px solid var(--blue);
    width: 20px;
    height: 20px;
    animation: spin 1.2s linear infinite;
}

img {
    user-select: none;
}

img.loading {
    position: relative;
}

img.loading:before {
    content: "";
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient(to right,
    rgba(128, 128, 128, 0.5),
    rgba(128, 128, 128, 0.2));

    animation: loadingAnimation 2s linear infinite;
}

.hover-image:hover {
    transform: scale(1.1);
}

.showOnSmallBreakpoint, .showOnMidBreakpoint {
    display: none !important;
}

@keyframes loadingAnimation {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@media only screen and (max-width: 1110px) {
    .flexOnMidBreakpoint {
        display: flex;
    }

    .hideOnMidBreakpoint {
        display: none !important;
    }

    .showOnMidBreakpoint {
        display: flex !important;
    }
}

@media only screen and (max-width: 600px) {
    .flexOnSmallBreakpoint {
        display: flex;
    }

    .hideOnSmallBreakpoint {
        display: none !important;
    }

    .showOnSmallBreakpoint {
        display: flex !important;
    }
}

@media only screen and (max-width: 400px) {
    .hideOnTinyBreakpoint {
        display: none !important;
    }

    .showOnTinyBreakpoint {
        display: flex !important;
    }

    .round-on-tiny-breakpoint {
        border-radius: 999px !important;
        height: 34px !important;
    }
}