:root {
    --base: #E6E4D9;
    --base-rgb: 230, 228, 217;
    --contrast: #100F0F;
    --contrast-rgb: 16, 15, 15;
    --base-color: #DA702C;
    --base-color-rgb: 218, 112, 44;

    --red-base: #D14D41;
    --red-base-rgb: 209, 77, 65;
    --red-dark: #ce3a32;

    --green-base: #99b238;
    --green-base-rgb: 153, 178, 56;
    --green-dark: #7a9615;

    --blue-base: #1a91f8;
    --blue-base-rgb: 26, 145, 248;
    --blue-dark: #316fd1;

    --icon-filter-2: sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%) invert(0%);
}
